/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(0, 0%, 5%);
  --black-color-light: hsl(0, 0%, 70%);
  --white-color: hsl(0, 0%, 100%);
  --title-color: hsl(0, 0%, 5%);
  --text-color: hsl(0, 0%, 55%);
  --body-color: hsl(0, 0%, 96%);
  --vert-mini: #7fff00;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--black-color);
  color: var(--white-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--black-color);
  z-index: var(--z-fixed);
  transition: box-shadow .4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo img {
  width: 4.5rem;
}

.nav__toggle, 
.nav__close {
  display: flex;
  font-size: 1.25rem;
  color: var(--white-color);
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--black-color);
    box-shadow: -1px 0 16px hsla(0, 0%, 0%, .1);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem;
    transition: right .4s;
  }
  .nav__logo img {
    width: 3.5rem;
  }
  .home__data {
    margin-top: -3rem; /* Ajustez la valeur selon vos besoins */
  }
  .home__container {
    grid-template-columns: 350px;
    justify-content: center;
  }
  .home__data {
    text-align: center;
  }

}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--white-color);
  font-family: var(--second-font);
}

.nav__close {
  position: absolute;
  top: 1.125rem;
  right: 1.5rem;
}

.nav__link:hover {
  color: var(--vert-mini);
}

.nav__link {
  position: relative;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--vert-mini);
  transition: width 0.3s ease;
}

.nav__link:hover::after {
  width: 100%;
}


/* Show menu */
.show-menu {
  right: 0;
}

/* Add shadow header */
.shadow-header {
  box-shadow: 0 1px 16px hsla(0, 0%, 0%, .1);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  :root{
    --header-height: 4.5rem;
  }
  .container {
    margin-inline: 1rem;
  }
  .nav__menu {
    width: 70%;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__menu {
    width: 40%;
  }
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
  .nav__logo img {
    width: 4.5rem; /* Ajustez la largeur selon vos besoins */
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
  }
  .nav__toggle, 
  .nav__close {
    display: none;
  }
  .nav__menu {
    width: initial;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }


}

@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }

  .home__container {
    grid-template-columns: 430px 600px;
    column-gap: 4.5rem;
  }
}
/* #################################################################################""*/
/*=============== FORMULAIRE DE COMMANDE ===============*/
.order-form {
  text-align: center;
  margin-top: 1rem;
  padding: 100px 0;
  font-family: var(--body-font);
}

.order__form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
  background-color: rgba(18, 18, 18, 1);
  border-radius: 14px;
  box-shadow: 0 0 16px hsla(0, 0%, 0%, 0.1);
  color: var(--white-color); /* Couleur du texte pour le formulaire */
}

.order-form .text{
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 25px;
  margin-bottom: -40px;
}

.form-group {
  margin-bottom: 0.12rem;
}

.product-row {
  gap: 10px;
  margin-bottom: 20px; /* Ajustez la marge basse selon vos préférences */
}

label {
  display: block;
  font-weight: var(--font-regular);
  color: white;
  text-align: left;
  margin-top: 15px;
}

input, textarea {
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-bottom: 1.5px solid white;
  border-radius: 0;
  outline: 0;
  background: transparent;
  font-size: var(--normal-font-size);
  color: var(--white-color);
}

input {
  height: 40px;
}

textarea {
  resize: vertical;
  min-height: 100px;
  font-family: var(--body-font);
}

button {
  display: inline-block;
  background-color: white;
  color: black;
  border: 1px solid white;
  box-shadow: 0 8px 32px hsla(0, 0%, 0%, .1);
  padding: 1rem 3rem;
  border-radius: 4rem;
  font-weight: var(--font-bold);
  transition: box-shadow .4s;
}

button:hover {
  background-color: black;
  color: white;
  box-shadow: 0 8px 32px hsla(0, 0%, 0%, .15);
}