/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Cambria&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  /* Hauteur du header */
  --header-height: 4.5rem;

  /*========== Colors ==========*/
  --black-color: #1E1E1E;      /* Noir principal */
  --black-color-light: #323232; /* Noir plus clair */
  --white-color: #E1E1E1;      /* Blanc */
  --title-color: #1E1E1E;      /* Couleur des titres */
  --text-color: #434343;       /* Couleur du texte */
  --body-color: #1E1E1E;       /* Couleur de fond */
  --vert-mini: #69FF0A;        /* Vert MINITEL */
  --bleu-mini: #00FFD7;        /* Bleu */
  --fuschia-mini: #C80CDF;     /* Fuchsia */
  --violet-mini: #950CDF;      /* Violet */

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Cambria", serif;           /* Police principale */
  --second-font: "JetBrains Mono", monospace; /* Police secondaire */
  --biggest-font-size: 2.5rem;             /* Taille max des titres */
  --h2-font-size: 1.25rem;                 /* Taille des sous-titres */
  --normal-font-size: .938rem;             /* Taille normale */
  --small-font-size: .113rem;              /* Taille petite */

  /*========== Font weight ==========*/
  --font-regular: 400;  /* Normal */
  --font-bold: 700;     /* Gras */

  /*========== z index ==========*/
  --z-tooltip: 10;   /* Pour les infobulles */
  --z-fixed: 100;    /* Pour le header fixe */
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4.5rem;    /* Titres plus grands */
    --h2-font-size: 1.5rem;         /* Sous-titres plus grands */
    --normal-font-size: 1rem;       /* Texte normal plus grand */
    --small-font-size: .875rem;     /* Texte petit plus grand */
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;  /* Inclut padding/border dans la largeur */
  padding: 0;             /* Supprime les paddings par défaut */
  margin: 0;              /* Supprime les marges par défaut */
}

body {
  max-width: 1400px;       /* Largeur maximale */
  margin: 0 auto;         /* Centrage horizontal */
  padding: 0 1.25rem;     /* Espacement horizontal */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--black-color);
  color: var(--white-color);
  text-align: justify;    /* Texte justifié */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;         /* Comportement block */
  max-width: 100%;        /* Largeur maximale */
  height: auto;           /* Hauteur automatique */
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;      /* Largeur maximale */
  margin-inline: 1.5rem;  /* Marges horizontales */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;        /* Fixe en haut */
  width: 100%;           /* Pleine largeur */
  top: 0;                /* En haut */
  left: 0;               /* À gauche */
  background-color: var(--black-color);
  z-index: var(--z-fixed);
  transition: box-shadow .4s;  /* Animation de l'ombre */
}

.nav {
  height: var(--header-height);
  display: flex;         /* Flexbox */
  justify-content: space-between;  /* Espacement entre les éléments */
  align-items: center;   /* Centrage vertical */
}

.nav__logo img {
  width: 4rem;           /* Taille du logo */
}

.nav__toggle, 
.nav__close {
  display: flex;
  font-size: 1.25rem;
  color: var(--white-color);
  cursor: pointer;       /* Curseur pointer */
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;     /* Position fixe */
    top: 0;              /* En haut */
    right: -100%;        /* Hors écran */
    background-color: var(--black-color);
    box-shadow: -1px 0 16px hsla(0, 0%, 0%, .1);
    width: 80%;          /* Largeur du menu */
    height: 100%;        /* Hauteur pleine */
    padding: 6rem 3rem;
    transition: right .4s;  /* Animation d'ouverture */
  }
  .nav__logo img {
    width: 3.5rem;
  }
  .home__data {
    margin-top: -3rem; /* Ajustez la valeur selon vos besoins */
  }
  .home__container {
    grid-template-columns: 350px;
    justify-content: center;
  }
  .home__data {
    text-align: center;
  }
}

.nav__list {
  display: flex;
  flex-direction: column;  /* Vertical */
  row-gap: 2.5rem;        /* Espacement vertical */
}

.nav__link {
  color: var(--white-color);
  font-family: var(--second-font);
}

.nav__close {
  position: absolute;
  top: 1.125rem;
  right: 1.5rem;
}

.nav__link:hover {
  color: var(--vert-mini);
}

.nav__link {
  position: relative;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--vert-mini);
  transition: width 0.3s ease;
}

.nav__link:hover::after {
  width: 100%;
}

/* Show menu */
.show-menu {
  right: 0;
}

/* Add shadow header */
.shadow-header {
  box-shadow: 0 1px 16px hsla(0, 0%, 0%, .1);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  :root{
    --header-height: 4.5rem;
  }
  .container {
    margin-inline: 1rem;
  }
  .nav__menu {
    width: 70%;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__menu {
    width: 40%;
  }
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
  .nav__logo img {
    width: 4.5rem; /* Ajustez la largeur selon vos besoins */
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
  }
  .nav__toggle, 
  .nav__close {
    display: none;
  }
  .nav__menu {
    width: initial;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }
}

@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }

  .home__container {
    grid-template-columns: 430px 600px;
    column-gap: 4.5rem;
  }
}
/* Cube section */
/* #################################################################################""*/

.ag-format-container {
  width: 100%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 0.5rem;
}

.ag-courses_box {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  width: 100%;
}

.ag-courses_item {
  flex: 1 1 calc(25% - 1.5rem);
  min-width: 250px;
  max-width: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.ag-courses-item_link {
  display: block;
  padding: 40px 30px;
  background-color: #121212;
  overflow: hidden;
  position: relative;
  min-height: 250px;
  text-decoration: none;
  color: #FFF;
  border-radius: 1rem;
  transition: transform 0.3s ease;
}

.ag-courses-item_link:hover {
  transform: translateY(-5px);
}

.ag-courses-item_link:hover,
.ag-courses-item_link:hover .ag-courses-item_date {
  text-decoration: none;
  color: #FFF;
}

.ag-courses-item_link:hover .ag-courses-item_bg {
  transform: scale(10);
}

.ag-courses-item_title {
  min-height: 80px;
  margin: 0 0 25px;
  font-weight: bold;
  font-size: 28px;
  color: #FFF;
  z-index: 2;
  position: relative;
  line-height: 1.2;
}

.ag-courses-item_date-box {
  font-size: 18px;
  color: #FFF;
  z-index: 2;
  position: relative;
}

.ag-courses-item_date {
  font-weight: bold;
  color: #f9b234;
  transition: color .5s ease;
}

.ag-courses-item_bg {
  height: 150px;
  width: 150px;
  background-color: #f9b234;
  z-index: 1;
  position: absolute;
  top: -75px;
  right: -75px;
  border-radius: 50%;
  transition: all .5s ease;
}

.ag-courses_item:nth-child(2n) .ag-courses-item_bg {
  background-color: #3ecd5e;
}

.ag-courses_item:nth-child(3n) .ag-courses-item_bg {
  background-color: #e44002;
}

.ag-courses_item:nth-child(4n) .ag-courses-item_bg {
  background-color: #952aff;
}

.ag-courses_item:nth-child(5n) .ag-courses-item_bg {
  background-color: #cd3e94;
}

.ag-courses_item:nth-child(6n) .ag-courses-item_bg {
  background-color: #4c49ea;
}

/* Responsive */
@media screen and (max-width: 1400px) {
  .ag-courses_item {
    flex-basis: calc(33.333% - 1.5rem);
  }
  .ag-courses-item_title {
    font-size: 24px;
  }
}

@media screen and (max-width: 900px) {
  .ag-courses_item {
    flex-basis: calc(50% - 1.5rem);
  }
  .ag-courses-item_title {
    min-height: 70px;
    line-height: 1.2;
    font-size: 22px;
  }
  .ag-courses-item_link {
    padding: 30px 25px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

@media screen and (max-width: 576px) {
  .ag-courses_item {
    flex-basis: 100%;
    max-width: 350px;
  }
  .ag-courses-item_title {
    min-height: 70px;
    line-height: 1.2;
    font-size: 22px;
  }
  .ag-courses-item_link {
    padding: 30px 25px;
  }
  .ag-courses-item_date-box {
    font-size: 16px;
  }
}

/*=============== MAIN ===============*/
.main {
  padding-top: var(--header-height);
}

/*=============== MANDAT ===============*/
.mandat {
  padding: 4rem 0;
}

.section__title {
  text-align: center;
  font-size: var(--h2-font-size);
  margin-bottom: 3rem;
  color: var(--white-color);
}

/* Pôle sections */
.pole-section {
  margin-bottom: 4rem;
}

.pole-title {
  font-size: 1.5rem;
  color: var(--vert-mini);
  margin-bottom: 2rem;
  text-align: center;
  font-family: var(--second-font);
}

/* Cards styles */
.membres__title {
  font-family: var(--second-font);
  font-size: var(--biggest-font-size);
  margin-bottom: 1rem;
  background: linear-gradient(to right, var(--bleu-mini) 0%, var(--vert-mini) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.membre-card__role {
  font-family: var(--second-font);
  color: var(--vert-mini);
  font-size: var(--small-font-size);
  margin-bottom: 0.5rem;
}