/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&family=Cambria&display=swap');
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 4.5rem;

  /*========== Colors ==========*/
  --black-color: #1E1E1E;
  --black-color-light: #323232;
  --white-color: #E1E1E1;
  --title-color: #1E1E1E;
  --text-color: #434343;
  --body-color: #1E1E1E;
  --vert-mini: #69FF0A;
  --bleu-mini: #00FFD7;
  --fuschia-mini: #C80CDF;
  --violet-mini: #950CDF;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Cambria", serif;
  --second-font: "JetBrains Mono", monospace;
  --biggest-font-size: 2.5rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: .938rem;
  --small-font-size: .113rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-bold: 700;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 4.5rem;
    --h2-font-size: 1.5rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--black-color);
  color: var(--white-color);
  text-align: justify;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  background-color: var(--black-color);
  z-index: var(--z-fixed);
  transition: box-shadow .4s;
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo img {
  width: 4rem;
}

.nav__toggle, 
.nav__close {
  display: flex;
  font-size: 1.25rem;
  color: var(--white-color);
  cursor: pointer;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: 0;
    right: -100%;
    background-color: var(--black-color);
    box-shadow: -1px 0 16px hsla(0, 0%, 0%, .1);
    width: 80%;
    height: 100%;
    padding: 6rem 3rem;
    transition: right .4s;
  }
  .nav__logo img {
    width: 3.5rem;
  }

}

.nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  color: var(--white-color);
  font-family: var(--second-font);
}

.nav__close {
  position: absolute;
  top: 1.125rem;
  right: 1.5rem;
}

.nav__link:hover {
  color: var(--vert-mini);
}

.nav__link {
  position: relative;
}

.nav__link::after {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--vert-mini);
  transition: width 0.3s ease;
}

.nav__link:hover::after {
  width: 100%;
}


/* Show menu */
.show-menu {
  right: 0;
}

/* Add shadow header */
.shadow-header {
  box-shadow: 0 1px 16px hsla(0, 0%, 0%, .1);
}



/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 320px) {
  :root{
    --header-height: 4.5rem;
  }
  .container {
    margin-inline: 1rem;
  }
  .nav__menu {
    width: 70%;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__menu {
    width: 40%;
  }
}

@media screen and (min-width: 576px) and (max-width: 1024px) {
  .nav__logo img {
    width: 4.5rem; /* Ajustez la largeur selon vos besoins */
  }
}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav {
    height: calc(var(--header-height) + 2rem);
  }
  .nav__toggle, 
  .nav__close {
    display: none;
  }
  .nav__menu {
    width: initial;
  }
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }


}

@media screen and (min-width: 1152px) {
  .container {
    margin-inline: auto;
  }

  .home__container {
    grid-template-columns: 430px 600px;
    column-gap: 4.5rem;
  }
}

  
  
  @media only screen and (max-width: 1152px) {
    .ag-courses_item {
      -ms-flex-preferred-size: calc(50% - 30px);
      flex-basis: calc(50% - 30px);
    }
    .ag-courses-item_title {
      font-size: 24px;
    }
  }
  
  @media only screen and (max-width: 1153px) {
    .ag-format-container {
      width: 96%;
    }
  
  }
  @media only screen and (max-width: 639px) {
    .ag-courses_item {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
    .ag-courses-item_title {
      min-height: 72px;
      line-height: 1;
  
      font-size: 24px;
    }
    .ag-courses-item_link {
      padding: 22px 40px;
    }
    .ag-courses-item_date-box {
      font-size: 16px;
    }
  }

/*=============== MAIN ===============*/
.main {
  padding-top: var(--header-height);
}

/*=============== ABOUT ===============*/
.about {
  padding: 4rem 0;
}

.about__container {
  display: grid;
  gap: 2rem;
  align-items: center;
}

.about__data {
  text-align: center;
}

.section__title {
  font-family: var(--second-font);
  font-size: var(--h2-font-size);
  margin-bottom: 1.5rem;
  color: var(--white-color);
}

.about__description {
  font-family: var(--body-font);
  margin-bottom: 2rem;
  color: var(--white-color);
  line-height: 1.6;
  text-align: justify;
}

.about__list {
  display: grid;
  gap: 1.5rem;
}

.about__item {
  font-family: var(--body-font);
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--white-color);
  line-height: 1.6;
}

.about__item i {
  color: var(--vert-mini);
  font-size: 1.25rem;
}

.about__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__img {
  width: 300px;
  height: auto;
}

/*=============== BREAKPOINTS ===============*/
@media screen and (min-width: 1023px) {
  .nav__toggle, 
  .nav__close {
    display: none;
  }
  
  .nav__menu {
    width: initial;
  }
  
  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .about__container {
    grid-template-columns: 1fr 1fr;
  }
  
  .about__data {
    text-align: left;
  }
}

@media screen and (max-width: 576px) {
  .about__img {
    width: 250px;
  }
  
  .about__description {
    font-size: var(--normal-font-size);
  }
}

.about__title {
  font-family: var(--second-font);
  font-size: var(--biggest-font-size);
  margin-bottom: 1rem;
  background: linear-gradient(to right, var(--bleu-mini) 0%, var(--vert-mini) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}