/*=============== HEADER & NAV ===============*/
.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--black-color);
    z-index: var(--z-fixed);
    transition: box-shadow .4s;
  }
  
  .nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .nav__logo img {
    width: 4rem;
  }
  
  .nav__toggle, 
  .nav__close {
    display: flex;
    font-size: 1.25rem;
    color: var(--white-color);
    cursor: pointer;
  }
  
  /* Navigation for mobile devices */
  @media screen and (max-width: 1023px) {
    .nav__menu {
      position: fixed;
      top: 0;
      right: -100%;
      background-color: var(--black-color);
      box-shadow: -1px 0 16px hsla(0, 0%, 0%, .1);
      width: 80%;
      height: 100%;
      padding: 6rem 3rem;
      transition: right .4s;
    }
    .nav__logo img {
      width: 3.5rem;
    }
    .home__data {
      margin-top: -3rem;
    }
    .home__container {
      grid-template-columns: 350px;
      justify-content: center;
    }
    .home__data {
      text-align: center;
    }
  }
  
  .nav__list {
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
  }
  
  .nav__link {
    color: var(--white-color);
    font-family: var(--second-font);
  }
  
  .nav__close {
    position: absolute;
    top: 1.125rem;
    right: 1.5rem;
  }
  
  .nav__link:hover {
    color: var(--vert-mini);
  }
  
  .nav__link {
    position: relative;
  }
  
  .nav__link::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--vert-mini);
    transition: width 0.3s ease;
  }
  
  .nav__link:hover::after {
    width: 100%;
  }
  
  /* Show menu */
  .show-menu {
    right: 0;
  }
  
  /* Add shadow header */
  .shadow-header {
    box-shadow: 0 1px 16px hsla(0, 0%, 0%, .1);
  }
  